<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>38020337162-e27u1eb4ptcg6957v2unuhi68jn0g33h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.38020337162-e27u1eb4ptcg6957v2unuhi68jn0g33h</string>
	<key>API_KEY</key>
	<string>AIzaSyA8-vUSnNHkjnAESgJHLrVnVTgRMs_rKyU</string>
	<key>GCM_SENDER_ID</key>
	<string>38020337162</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.reever.topThree</string>
	<key>PROJECT_ID</key>
	<string>topthree-137fb</string>
	<key>STORAGE_BUCKET</key>
	<string>topthree-137fb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:38020337162:ios:4cd64700dcdf26c73c19f3</string>
	<key>DATABASE_URL</key>
	<string>https://topthree-137fb.firebaseio.com</string>
</dict>
</plist>